{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <li>
        <a href='{{ path('card_index') }}'/>Sets</a>
        <a href='{{ path('game_index') }}'/>Start</a>
    </li>
{% endblock %}
