{% extends 'base.html.twig' %}

{% block title %}Hello CardController!{% endblock %}

{% block body %}
    {% for _set in sets %}
        <li>
            <a href='{{ path('card_show_set', {'set': _set.code}) }}'/>{{_set.name}}</a>
        </li>
    {% endfor %}
{% endblock %}
