{% extends 'base.html.twig' %}

{% block title %}Choose your fighter !{% endblock %}

{% set navbar = false %}

{% block body %}
<style>
body
{
    background-image : url('/image/backgrounds/landscape.gif');
    background-size : cover;
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
</style>
<div class='row'>
    <div class='card bg-dark mx-auto text-center my-4' style='height: 90px'>
        <span class="blink_me text-white my-auto h1">Choose your fighter !</span>
    </div>
</div>
<div class='row my-5 mx-5'>
    <div id='characters' class='row'>
        {% include 'components/_card_character.html.twig' with {
            'characters' : characters
        } %}
    </div>
 
    <div id='bonusCharacters' class='row d-none'>
        {% include 'components/_card_character.html.twig' with {
            'characters' : bonusCharacters
        } %}
    </div>

    <div class='row'>
        <p class='h3 text-danger'>Player 1 : <span id='player1-chosen'></span></p>
        <p class='h3 text-danger'>Player 2 : <span id='player2-chosen'></span></p>
        <a class='d-none nes-btn is-primary w-25 mx-auto' id='startGame' href='#'>START GAME</a>
        {% if hasWinOneGame == true %}
            <button class='nes-btn is-warning w-25 mx-auto' id='showMeReal'>SHOW ME THE REAL GAME !</button>
        {% endif %}
    </div>

    <div class="modal fade" id="modalSelectCharacter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Choose your character</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Do you want to select this character ?
        </div>
        <div class="modal-footer">
            <button type="button" id="isChosen" data-bs-dismiss="modal" class="nes-btn is-primary">Choose character</button>
            <button type="button" class="mx-3 nes-btn is-error" data-bs-dismiss="modal">Cancel</button>
        </div>
        </div>
    </div>
    </div>

</div>

<script>
var isPlayer1Ready = false;
var isPlayer2Ready = false;
var onOffBonus = 0;

var bonusBackground = "url('/image/backgrounds/bonus_landscape.gif')";
var basicBackground = "url('/image/backgrounds/landscape.gif')";

let player1Character;
let player2Character;

for(let selectCharacter of document.querySelectorAll('.characterSelect')){
    selectCharacter.addEventListener('click', function() {
        document.querySelector('#isChosen').addEventListener('click', function() {
            if(isPlayer1Ready === false)
            {
                player1Character = selectCharacter.value;
                selectCharacter.disabled = true;
                isPlayer1Ready = true;             
                selectCharacter.classList.remove('is-success');
                selectCharacter.classList.add('is-disabled');
                document.querySelector('#player1-chosen').innerHTML = selectCharacter.innerHTML;
            }
            else {
                player2Character = selectCharacter.value;
                isPlayer2Ready = true;
                selectCharacter.disabled = true;
                selectCharacter.classList.remove('is-success');
                selectCharacter.classList.add('is-disabled');
                document.querySelector('#player2-chosen').innerHTML = selectCharacter.innerHTML;
            }

            if(isPlayer1Ready === true && isPlayer2Ready === true)
            {
                let startGame = document.querySelector('#startGame')
                startGame.classList.remove('d-none')
                startGame.href =  '/game/select/' + player1Character + '/' + player2Character + '/' + onOffBonus;
            }
        })
    })
}

var showMeRealBtn = document.querySelector('#showMeReal');


if(showMeRealBtn !== null)
{
    showMeRealBtn.addEventListener('click', function() {
        if(onOffBonus === 0)
        {
            document.querySelector('#bonusCharacters').classList.remove('d-none');
            document.querySelector('#characters').classList.add('d-none');
            showMeRealBtn.innerHTML = 'BACK TO THE OLD GAME';
            onOffBonus = 1;
            document.body.style.backgroundImage = bonusBackground;
        } else if(onOffBonus === 1)
        {
            document.querySelector('#characters').classList.remove('d-none');
            document.querySelector('#bonusCharacters').classList.add('d-none');
            showMeRealBtn.innerHTML = 'SHOW ME THE REAL GAME !';
            onOffBonus = 0;
            document.body.style.backgroundImage = basicBackground;
        }
    })
}
</script>

{% endblock %}
